# ~/.local/share/chezmoi/.chezmoi.yaml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.yaml`
# See https://www.chezmoi.io/docs/how-to/

{{- $email := promptStringOnce . "email" "Your email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $key := promptStringOnce . "key" "Your GPG key" }}

{{ if eq .chezmoi.os "windows" -}}
cd:
    command: "pwsh"
    args: ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
{{ end -}}

data:
    email: {{ $email | quote }}
    name: {{ $name | quote }}
    key: {{ $key | quote }}
