# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#

[user]
    name = "{{ .name }}"
    email = "{{ .email }}"
    signingkey = "{{ .key }}"

[commit]
    template = ~/.gitmessage
    gpgsign = true

[core]
    editor = code --wait
    {{- if eq .chezmoi.os "windows" }}
    autocrlf = true
    {{- else }}
    autocrlf = input
    {{- end }}

[pull]
    ff = only
[push]
    default = simple
[log]
    decorate = full
    abbrevCommit = true

[include]
    path = ~/.gitaliases

[credential]
    {{- if eq .chezmoi.os "linux" }}
    credentialStore = gpg
    {{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
    {{-   else }}
    helper = /usr/local/bin/git-credential-manager
    {{-   end }}
    {{- end }}

[credential "https://dev.azure.com"]
    useHttpPath = true
[credential "https://gitlab.com"]
    provider = generic
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[init]
    defaultBranch = main
[gpg]
    {{- if eq .chezmoi.os "windows" }}
    program = C:\\Program Files\\GnuPG\\bin\\gpg.exe
    {{- else if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
    program = /mnt/c/Program\\ Files\\/GnuPG/bin/gpg.exe
    {{- end }}
[checkout]
    defaultRemote=origin
