{{ if eq .chezmoi.os "windows" -}}
# ~/.local/share/chezmoi/run_onchange_before_install-modules.ps1
# ============================================================================
# Runs before `chezmoi apply` when content was changed to install modules
# dependencies.
#
# Chezmoi will skip this script on other operating systems.
#
# See https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/

Import-Module PowerShellGet
Set-PSRepository -Name 'PSGallery' -InstallationPolicy Trusted

{{ range .packages.windows.powershell -}}
Install-Module {{ . | quote }} -SkipPublisherCheck -Scope CurrentUser
{{ end -}}

{{- end }}
