{{ if eq .chezmoi.os "windows" -}}
# ~/.local/share/chezmoi/run_once_before_install-packages.ps1
# ============================================================================
# Runs before `chezmoi apply` to install packages dependencies.
#
# You must change the PowerShell execution policy for correct
# configure this.
# Chezmoi will skip this script on other operating systems.
# See https://www.chezmoi.io/docs/how-to/
#

winget install `
    Discord.Discord `
    Docker.DockerDesktop `
    Figma.Figma `
    Genymobile.scrcpy `
    Git.Git `
    GitHub.GitLFS `
    GnuPG.GnuPG `
    GnuPG.Gpg4win `
    Google.Chrome `
    JanDeDobbeleer.OhMyPosh `
    junegunn.fzf `
    Microsoft.AzureDataStudio `
    Microsoft.PowerShell `
    Microsoft.PowerToys `
    Microsoft.VisualStudioCode `
    Microsoft.VisualStudio.2022.Community.Preview `
    OpenVPNTechnologies.OpenVPNConnect `
    sharkdp.bat

wsl --install -d Ubuntu

{{- end }}
