{{ if eq .chezmoi.os "windows" -}}
# ~/.local/share/chezmoi/run_onchange_before_install-modules.ps1
# ============================================================================
# Runs before `chezmoi apply` when content was changed to install modules
# dependencies.
#
# Chezmoi will skip this script on other operating systems.
#
# See https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/

Write-Output "Installing PowerShell Modules"

$module = @("{{- .packages.windows.powershell | uniq | sortAlpha | join "\", \"" -}}")

foreach($module in $modules)
{
    if (-not (Get-Module -ListAvailable -Name $module -ErrorAction SilentlyContinue))
    {
        Install-Module -AcceptLicense -Name $module
    }
}

{{- end }}
