{{ if eq .chezmoi.os "windows" -}}
# ~/.local/share/chezmoi/run_apply-settings-windows-terminal.ps1
# ============================================================================
# Runs when you execute `chezmoi apply` to apply settings to Windows Terminal.
#
# Chezmoi will skip this script on other operating systems.
# See https://www.chezmoi.io/docs/how-to/
#

$SourceFile = "$env:USERPROFILE\.config\windows-terminal\settings.json"
$DestinationFile = "$env:LOCALAPPDATA\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState\settings.json"

Copy-Item $SourceFile $DestinationFile

{{- end }}
